.add-building-screen-container {
  min-height: 100vh;
}
.add-building-screen-add-building-screen {
  width: 100%;
  height: 1096px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1512px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: var(--dl-color-default-bgcolor);
}
.add-building-screen-main {
  top: 111px;
  left: 310px;
  width: 1163px;
  height: 892px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.add-building-screen-text {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-list {
  top: 35px;
  left: 0px;
  width: 1163px;
  height: 857px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-row {
  top: 168px;
  left: 31px;
  width: 276px;
  height: 249px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-floors {
  top: 0px;
  left: 0px;
  width: 238px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-small-dropdown {
  top: 32px;
  left: 0px;
  width: 238px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text02 {
  top: 11px;
  left: 17.41463279724121px;
  color: var(--dl-color-default-extratext);
  width: 204px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-ickeyboardarrowdown48px {
  top: 11px;
  left: 208px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-text07 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-service {
  top: 123px;
  left: 0px;
  width: 276px;
  height: 126px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-checkbox {
  top: 32px;
  left: 0px;
  width: 276px;
  height: 94px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(228, 231, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 0px 0px 0px;
}
.add-building-screen-group6 {
  top: 14px;
  left: 26px;
  width: 223px;
  height: 65px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-radiobutton {
  top: 0px;
  left: 0px;
  width: 82px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-checkbox1 {
  top: 0px;
  left: 0px;
  width: 82px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.add-building-screen-text09 {
  left: 30px;
  color: var(--dl-color-default-normaltext);
  width: 52px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-rectangle3 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-radiobutton1 {
  top: 0px;
  left: 141px;
  width: 82px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-checkbox2 {
  top: 0px;
  left: 0px;
  width: 82px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.add-building-screen-text11 {
  left: 30px;
  color: var(--dl-color-default-normaltext);
  width: 52px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-rectangle31 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-radiobutton2 {
  top: 45px;
  left: 0px;
  width: 82px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-checkbox3 {
  top: 0px;
  left: 0px;
  width: 82px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.add-building-screen-text13 {
  left: 30px;
  color: var(--dl-color-default-normaltext);
  width: 52px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-rectangle32 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-radiobutton3 {
  top: 45px;
  left: 141px;
  width: 82px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-checkbox4 {
  top: 0px;
  left: 0px;
  width: 82px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.add-building-screen-text15 {
  left: 30px;
  color: var(--dl-color-default-normaltext);
  width: 52px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-rectangle33 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-text17 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-row1 {
  top: 168px;
  left: 628px;
  width: 505px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-floors1 {
  top: 0px;
  left: 0px;
  width: 238px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-small-dropdown1 {
  top: 32px;
  left: 0px;
  width: 238px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text19 {
  top: 11px;
  left: 17.41463279724121px;
  color: var(--dl-color-default-extratext);
  width: 204px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-ickeyboardarrowdown48px1 {
  top: 11px;
  left: 208px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-text24 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-floors2 {
  top: 0px;
  left: 267px;
  width: 238px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-small-dropdown2 {
  top: 32px;
  left: 0px;
  width: 238px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text26 {
  top: 11px;
  left: 17.41463279724121px;
  color: var(--dl-color-default-extratext);
  width: 204px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-ickeyboardarrowdown48px2 {
  top: 11px;
  left: 208px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-text31 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-row2 {
  top: 463px;
  left: 27px;
  width: 505px;
  height: 222px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-floors3 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text33 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-textarea {
  top: 36px;
  left: 0px;
  width: 505px;
  height: 186px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text35 {
  top: 9px;
  left: 16.60541534423828px;
  color: var(--dl-color-default-border);
  width: 54px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-row3 {
  top: 463px;
  left: 628px;
  width: 190px;
  height: 222px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-floors4 {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text37 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-textarea1 {
  top: 36px;
  left: 0px;
  width: 190px;
  height: 186px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(228, 231, 236, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-border);
}
.add-building-screen-name {
  top: 45px;
  left: 31px;
  width: 505px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text39 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-input {
  top: 32px;
  left: 0px;
  color: rgba(208, 213, 221, 1);
  width: 505px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-name1 {
  top: 291px;
  left: 628px;
  width: 505px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text41 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-input1 {
  top: 32px;
  left: 0px;
  color: rgba(208, 213, 221, 1);
  width: 505px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-name2 {
  top: 45px;
  left: 628px;
  width: 505px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text43 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-input2 {
  top: 32px;
  left: 0px;
  width: 505px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text45 {
  top: 8px;
  left: 15.274102210998535px;
  color: var(--dl-color-default-border);
  width: 38px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-ickeyboardarrowdown48px3 {
  top: 11px;
  left: 471px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-small-secondary-button {
  top: 775px;
  left: 27px;
  width: 164px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 5px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-primary);
}
.add-building-screen-text47 {
  top: 11px;
  left: 11.781608581542969px;
  color: var(--dl-color-default-secondary);
  width: 141px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-footer {
  top: 1050px;
  left: 272px;
  width: 1240px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text49 {
  top: 10px;
  left: 595px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-header {
  top: 0px;
  left: 272px;
  width: 1240px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-searchbar {
  top: 15px;
  left: 29px;
  width: 348px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text51 {
  top: 8px;
  left: 14px;
  color: var(--dl-color-default-border);
  width: 200px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-search {
  top: 8px;
  left: 319px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-profile {
  top: 0px;
  left: 968px;
  width: 272px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.add-building-screen-info {
  top: 11px;
  left: 24px;
  width: 158px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-avatar {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-text53 {
  left: 53px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-text55 {
  top: 24px;
  left: 53px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-line13 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-notifications {
  top: 18px;
  left: 920px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-navigator {
  top: 0px;
  left: 0px;
  width: 272px;
  height: 1096px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo {
  top: 0px;
  left: 0px;
  width: 272px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(228, 231, 236, 1) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-text57 {
  top: 15px;
  left: 14px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-line12 {
  top: 67px;
  left: 0px;
  width: 272px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-profile1 {
  top: 67px;
  left: 0px;
  width: 272px;
  height: 86px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.add-building-screen-info1 {
  top: 21px;
  left: 14px;
  width: 158px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-avatar1 {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-text59 {
  left: 53px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-text61 {
  top: 24px;
  left: 53px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-building {
  top: 166px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-dashboard {
  top: 14px;
  left: 22px;
  width: 103px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo01 {
  top: 0px;
  left: 33px;
  width: 70px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text63 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-home {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-customer {
  top: 521px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo02 {
  top: 14px;
  left: 22px;
  width: 122px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo03 {
  top: 0px;
  left: 33px;
  width: 89px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo04 {
  top: 0px;
  left: 0px;
  width: 89px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text65 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-users {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-employee {
  top: 574px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo05 {
  top: 14px;
  left: 22px;
  width: 108px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo06 {
  top: 0px;
  left: 33px;
  width: 75px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo07 {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo08 {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text67 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-userfriends {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-contract {
  top: 362px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo09 {
  top: 14px;
  left: 25px;
  width: 104px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo10 {
  top: 0px;
  left: 30px;
  width: 74px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text69 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-filecontract {
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-bill {
  top: 415px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo11 {
  top: 14px;
  left: 26px;
  width: 92px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo12 {
  top: 0px;
  left: 29px;
  width: 63px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text71 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-fileinvoice {
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-voucher {
  top: 468px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo13 {
  top: 14px;
  left: 23px;
  width: 122px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo14 {
  top: 0px;
  left: 32px;
  width: 90px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text73 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-ticketalt {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-building1 {
  top: 256px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo15 {
  top: 14px;
  left: 22px;
  width: 93px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-apartment {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.add-building-screen-group {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-group1 {
  top: 3.125px;
  left: 3.125px;
  width: 18.75px;
  height: 18.75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-vector {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-text75 {
  left: 33px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-requests {
  top: 627px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo16 {
  top: 14px;
  left: 55px;
  width: 60px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo17 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo18 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo19 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text77 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-vector1 {
  top: 17px;
  left: 24px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-checkattendance {
  top: 680px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo20 {
  top: 14px;
  left: 55px;
  width: 202px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo21 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo22 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo23 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text79 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-angleleft {
  top: 2px;
  left: 182px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-usercheck {
  top: 14px;
  left: 22px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-apartment1 {
  top: 311px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.add-building-screen-logo24 {
  top: 14px;
  left: 22px;
  width: 86px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-logo25 {
  top: 0px;
  left: 33px;
  width: 53px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.add-building-screen-text81 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.add-building-screen-nightshelter {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.add-building-screen-angleleft1 {
  top: 16px;
  left: 237px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.add-building-screen-text83 {
  top: 231px;
  left: 14px;
  color: var(--dl-color-default-border);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
