body
{
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.img1 {
    position: absolute;
    width: 800px;
    height: 960px;
    left: 0px;
    top: 0px;
}
.left-column {
    width: 60%;
    height: 150px;
    background: #FFFFFF;
    float:left;
}
.right-column {
    width: 40%;
    height: 150px;
    background: #FFFFFF;
    float:right;
}

.title1 {
    text-align: center;
    width: 340px;
    height:55px;
    left: 250px;
    top: 250px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 153.52%;
    letter-spacing: -0.02em;
    color: #101828;
}

.text1 {
    height: 22px;
    left: 200px;
    top: 350px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 153.52%;
    letter-spacing: -0.02em;
    color: #101828;
}

.submitbut {
    width: 348px;
    height: 42px;
    left: 200px;
    top: 600px;
    background: #2E90FA;
    border-radius: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 153.52%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.googlebut {
    box-sizing: border-box;
    width: 348px;
    height: 42px;
    left: 200px;
    top: 719px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 153.52%;
    letter-spacing: -0.02em;
    color: #2E90FA;
}
