body
{
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.left-column {
    width: 70%;
    height: 150px;
    background: #FFFFFF;
    float:left;
}
.right-column {
    width: 30%;
    height: 150px;
    background: #FFFFFF;
    float:right;
}

.title1 {
    width: 182px;
    height: 55px;
    left: 241px;
    top: 220px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 153.52%;
    letter-spacing: -0.02em;
    color: #101828;
}

.text1 {
    width: 76px;
    height: 22px;
    left: 158px;
    top: 326px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 153.52%;
    letter-spacing: -0.02em;
    color: #101828;
}

.submitbut {
    width: 348px;
    height: 42px;
    left: 158px;
    top: 575px;
    background: #2E90FA;
    border-radius: 5px;
}