.buildinglist-screen-container {
  min-height: 100vh;
}
.buildinglist-screen-buildinglist-screen {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1512px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: var(--dl-color-default-bgcolor);
}
.buildinglist-screen-header {
  top: 0px;
  left: 272px;
  width: 1240px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-searchbar {
  top: 15px;
  left: 29px;
  width: 348px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-text {
  top: 8px;
  left: 14px;
  color: var(--dl-color-default-border);
  width: 200px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-search {
  top: 23px;
  left: 338px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-profile {
  top: 0px;
  left: 968px;
  width: 272px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.buildinglist-screen-info {
  top: 11px;
  left: 24px;
  width: 206px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.buildinglist-screen-avatar {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
}
.buildinglist-screen-text02 {
  left: 53px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text04 {
  top: 24px;
  left: 53px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-line13 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-notifications {
  top: 18px;
  left: 920px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-navigator {
  top: 0px;
  left: 0px;
  width: 272px;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-logo {
  top: 0px;
  left: 0px;
  width: 272px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 0px 0px rgba(228, 231, 236, 1) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-text06 {
  top: 15px;
  left: 14px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-line12 {
  top: 67px;
  left: 0px;
  width: 272px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-profile1 {
  top: 67px;
  left: 0px;
  width: 272px;
  height: 86px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.buildinglist-screen-info1 {
  top: 21px;
  left: 14px;
  width: 191px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.buildinglist-screen-avatar1 {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
}
.buildinglist-screen-text08 {
  left: 53px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text10 {
  top: 24px;
  left: 53px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-dashboard {
  top: 166px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-text12 {
  top: 14px;
  left: 57px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-home {
  top: 17px;
  left: 24px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-text14 {
  top: 231px;
  left: 14px;
  color: var(--dl-color-default-border);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-building {
  top: 256px;
  left: 0px;
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-vector {
  top: 14px;
  left: 24px;
  width: 19px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}

.thongke{
  top: 166px;
  left: 0px;
  position: absolute;
}
.navigator-list {
    top: 256px;
    left: 0px;
    position: absolute;
}

.nav-elmt-bg {
  width: 272px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.angleleft {
  top: 16px;
  left: 237px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.nav-elmt-text {
  top: 14px;
  left: 57px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.nav-elmt-text-seclected {
  top: 14px;
  left: 57px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.nav-elmt-img {
  top: 17px;
  left: 24px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
#nav-elmt-img-select{
  color: var(--dl-color-default-primary)
}
.buildinglist-screen-main {
  top: 111px;
  left: 310px;
  width: 1163px;
  height: 906px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.buildinglist-screen-text33 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-list {
  top: 51px;
  left: 2px;
  width: 1163px;
  height: 855px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-head {
  top: 0px;
  left: 0px;
  width: 1163px;
  height: 82px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.buildinglist-screen-row {
  top: 20px;
  left: 38px;
  width: 1088px;
  height: 42px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.buildinglist-screen-searchbar1 {
  top: 2px;
  left: 0px;
  width: 348px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-text35 {
  top: 8px;
  left: 14px;
  color: var(--dl-color-default-border);
  width: 200px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-search1 {
  top: 8px;
  left: 319px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-addbutton {
  top: 0px;
  left: 924px;
  width: 164px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
  background-color: var(--dl-color-default-primary);
}
.buildinglist-screen-text37 {
  top: 11px;
  left: 54px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-pluscircle {
  top: 11px;
  left: 20px;
  width: 21px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-list1 {
  top: 82px;
  left: 0px;
  width: 1163px;
  height: 681px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.buildinglist-screen-rowtitle {
  top: 0px;
  left: 18px;
  width: 1128px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-bgcolor);
}
.buildinglist-screen-line14 {
  top: 48px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-title {
  top: 13px;
  left: 34px;
  width: 1155px;
  height: 21px;
  display: flex;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 0;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  padding-right: 0;
  flex-direction: row;
  padding-bottom: 0;
  justify-content: flex-start;
  background-color: transparent;
}
.buildinglist-screen-text39 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text41 {
  left: 192px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text43 {
  left: 408px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text45 {
  left: 578px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text47 {
  left: 781px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text49 {
  left: 967px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-row1 {
  top: 48px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-title1 {
  top: 18px;
  left: 0px;
  width: 1128px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.buildinglist-screen-text50 {
  top: 20px;
  left: 32px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text52 {
  top: 20px;
  left: 224px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text54 {
  top: 20px;
  left: 440px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text55 {
  top: 20px;
  left: 612px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-text57 {
  top: 20px;
  left: 816px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.buildinglist-screen-edit {
  top: 18px;
  left: 1009px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.buildinglist-screen-trashalt {
  top: 18px;
  left: 1073px;
  width: 22px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.buildinglist-screen-line141 {
  top: 43px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.buildinglist-screen-pagination {
  top: 795px;
  left: 467px;
  width: 229px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.buildinglist-screen-angleleft2 {
  top: 7px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-angleright {
  top: 7px;
  left: 209px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-text59 {
  top: 3px;
  left: 112px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-text60 {
  top: 3px;
  left: 160px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.buildinglist-screen-active {
  top: 3px;
  left: 49px;
  width: 25px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.buildinglist-screen-ellipse5 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.buildinglist-screen-text61 {
  left: 8px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.buildinglist-screen-footer {
  top: 1071px;
  left: 272px;
  width: 1240px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.buildinglist-screen-text62 {
  top: 10px;
  left: 595px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
