.signin-screen {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  max-width: 1600px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
  min-height: 100vh;
}
.signin-screen-left {
  width: 56%;
  height: 982px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  border-color: transparent;
  border-style: none;
  flex-direction: row;
  justify-content: flex-start;
}
.signin-screen-photo {
  width: 100%;
  border-color: transparent;
  height: 982px;
}
.signin-screen-right {
  height: 982px;
  position: absolute;
  display: flex;
  float: left;
  width: 44%;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (orientation: portrait){
  .signin-screen-left, .signin-screen-right {
    height: 982px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

.signin-screen-login-form {
  margin: auto;
  width: 350px;
  height: 541px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .signin-screen-login-form {
    width: 92%;
  }
}
.signin-screen-title {
  color: var(--dl-color-default-normaltext);
  font-size:15vw;
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 153.52272987365723%;
}
.signin-screen-input {
  top: 106px;
  left: 0px;
  width: 100%;
  height: 187px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signin-input {
  top: 35px;
  left: 0px;
  color: rgba(208, 213, 221, 1);
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.signin-subtitle {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.signin-screen-email {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signin-screen-password {
  top: 110px;
  left: 0px;
  width: 100%;
  height: 77px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signin-screen-buttongroup {
  top: 355px;
  left: 0px;
  width: 100%;
  height: 186px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signin-screen-priimary-button {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--dl-color-default-primary);
}
.signin-screen-text03 {
  top: 11px;
  left: 25px;
  color: var(--dl-color-default-secondary);
  width: 298px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.signin-screen-or {
  top: 84px;
  left: 42px;
  width: 261.0177001953125px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signin-screen-text10 {
  left: 115.00885009765625px;
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.signin-screen-line10 {
  top: 11px;
  left: 0px;
  width: 105px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.signin-screen-line11 {
  top: 11px;
  left: 156.00885009765625px;
  width: 105px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.signin-screen-buttonwith-google {
  top: 144px;
  left: 0px;
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.signin-screen-text12 {
  top: 9px;
  left: 92px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.signin-screen-google {
  top: 9px;
  left: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}

