.attendance-report-container {
  min-height: 100vh;
}
.attendance-report-attendance-report {
  width: 100%;
  height: 1418px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1512px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: var(--dl-color-default-bgcolor);
}
.attendance-report-main {
  top: 111px;
  left: 310px;
  width: 1163px;
  height: 1208px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.attendance-report-text {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-list {
  top: 51px;
  left: 2px;
  width: 1163px;
  height: 1157px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-small-input {
  top: 64px;
  left: 38px;
  width: 238px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 5px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-text002 {
  top: 11px;
  left: 17.41463279724121px;
  color: var(--dl-color-default-normaltext);
  width: 204px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-calendartoday {
  top: 6px;
  left: 208px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-text004 {
  top: 30px;
  left: 38px;
  color: var(--dl-color-default-normaltext);
  width: 70px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-row {
  top: 125px;
  left: 38px;
  width: 915px;
  height: 105px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-revenue {
  top: 0px;
  left: 0px;
  width: 271px;
  height: 105px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-logo {
  top: 9px;
  left: 18px;
  width: 39px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text006 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text008 {
  top: 39px;
  left: 18px;
  color: var(--dl-color-default-errorcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-logo1 {
  top: 9px;
  left: 222px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-ellipse4 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(228, 231, 236, 1);
  border-style: solid;
  border-width: 1px;
}
.attendance-report-userfriends {
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-text010 {
  top: 50px;
  left: 57px;
  color: var(--dl-color-default-extratext);
  width: 77px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-revenue1 {
  top: 0px;
  left: 322px;
  width: 271px;
  height: 105px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-logo2 {
  top: 9px;
  left: 18px;
  width: 77px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text012 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text014 {
  top: 39px;
  left: 18px;
  color: var(--dl-color-default-warningcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-logo3 {
  top: 9px;
  left: 222px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-ellipse41 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(228, 231, 236, 1);
  border-style: solid;
  border-width: 1px;
}
.attendance-report-userfriends1 {
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-text015 {
  top: 50px;
  left: 49px;
  color: var(--dl-color-default-extratext);
  width: 77px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-revenue2 {
  top: 0px;
  left: 644px;
  width: 271px;
  height: 105px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-logo4 {
  top: 9px;
  left: 18px;
  width: 54px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text017 {
  color: var(--dl-color-default-extratext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text019 {
  top: 39px;
  left: 18px;
  color: var(--dl-color-default-successcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-logo5 {
  top: 9px;
  left: 222px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-ellipse42 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(228, 231, 236, 1);
  border-style: solid;
  border-width: 1px;
}
.attendance-report-usercheck {
  top: 14px;
  left: 227px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-list1 {
  top: 378px;
  left: 0px;
  width: 1163px;
  height: 743px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-list2 {
  top: 0px;
  left: 0px;
  width: 1163px;
  height: 681px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.attendance-report-rowtitle {
  top: 0px;
  left: 18px;
  width: 1128px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-bgcolor);
}
.attendance-report-line14 {
  top: 48px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-title {
  top: 13px;
  left: 34px;
  width: 1034px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text021 {
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text023 {
  left: 143px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text025 {
  left: 636px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text027 {
  left: 372px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text029 {
  left: 283px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text031 {
  left: 800px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text033 {
  left: 968px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-row01 {
  top: 48px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title01 {
  top: 18px;
  left: 0px;
  width: 1128px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text035 {
  top: 2px;
  left: 32px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text037 {
  top: 2px;
  left: 183px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text039 {
  top: 2px;
  left: 327px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text040 {
  top: 2px;
  left: 454px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text042 {
  top: 2px;
  left: 816px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-edit {
  top: 0px;
  left: 1009px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-trashalt {
  top: 2px;
  left: 1073px;
  width: 22px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-line1401 {
  top: 43px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-row02 {
  top: 48px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title02 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text044 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text046 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text048 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text049 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text051 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text053 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1402 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text055 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row03 {
  top: 109px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title03 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text057 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text059 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text061 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text062 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text064 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text066 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1403 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label01 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text068 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row04 {
  top: 170px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title04 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text070 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text072 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text074 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text075 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text077 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text079 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1404 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label02 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text081 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row05 {
  top: 25px;
  left: 0px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title05 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text083 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text085 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text087 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text088 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text090 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text092 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1405 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label03 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(240, 68, 56, 1);
}
.attendance-report-text094 {
  top: 4px;
  left: 22px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row06 {
  top: 292px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title06 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text096 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text098 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text100 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text101 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text103 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text105 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1406 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label04 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text107 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row07 {
  top: 353px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title07 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text109 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text111 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text113 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text114 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text116 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text118 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1407 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label05 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text120 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row08 {
  top: 414px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title08 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text122 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text124 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text126 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text127 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text129 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text131 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1408 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label06 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(253, 176, 34, 1);
}
.attendance-report-text133 {
  top: 4px;
  left: 6px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row09 {
  top: 475px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title09 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text135 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text137 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text139 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text140 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text142 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text144 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1409 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label07 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text146 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row10 {
  top: 536px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title10 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text148 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text150 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text152 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text153 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text155 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text157 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1410 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label08 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(50, 213, 131, 1);
}
.attendance-report-text159 {
  top: 4px;
  left: 16px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-row11 {
  top: 597px;
  left: 18px;
  width: 1128px;
  height: 61px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-title11 {
  top: 20px;
  left: 0px;
  width: 1128px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-text161 {
  left: 33px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text163 {
  left: 176px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text165 {
  left: 318px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text166 {
  left: 670px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text168 {
  top: 2px;
  left: 406px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text170 {
  left: 835px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 153.52272987365723%;
  font-stretch: normal;
  text-decoration: underline;
}
.attendance-report-line1411 {
  top: 41px;
  left: 0px;
  width: 1128px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.attendance-report-label09 {
  top: 16px;
  left: 1001px;
  width: 80px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(240, 68, 56, 1);
}
.attendance-report-text172 {
  top: 4px;
  left: 22px;
  color: var(--dl-color-default-bgcolor);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
}
.attendance-report-pagination {
  top: 713px;
  left: 467px;
  width: 229px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.attendance-report-angleleft {
  top: 7px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-angleright {
  top: 7px;
  left: 209px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-text174 {
  top: 3px;
  left: 112px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-text175 {
  top: 3px;
  left: 160px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-active {
  top: 3px;
  left: 49px;
  width: 25px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-ellipse5 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.attendance-report-text176 {
  left: 8px;
  color: var(--dl-color-default-secondary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
}
.attendance-report-text177 {
  top: 266px;
  left: 38px;
  color: var(--dl-color-default-normaltext);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-tabs {
  top: 314px;
  left: 38px;
  width: 716px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.attendance-report-small-secondary-button {
  top: 0px;
  left: 0px;
  width: 164px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-primary);
}
.attendance-report-text179 {
  top: 11px;
  left: 11.781608581542969px;
  color: var(--dl-color-default-secondary);
  width: 141px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-small-secondary-button1 {
  top: 0px;
  left: 184px;
  width: 164px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-text181 {
  top: 11px;
  left: 48.78160858154297px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-small-secondary-button2 {
  top: 0px;
  left: 368px;
  width: 164px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-text183 {
  top: 11px;
  left: 11.781608581542969px;
  color: var(--dl-color-default-primary);
  width: 141px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
.attendance-report-small-secondary-button3 {
  top: 0px;
  left: 552px;
  width: 164px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-secondary);
}
.attendance-report-text185 {
  top: 11px;
  left: 11.781608581542969px;
  color: var(--dl-color-default-primary);
  width: 141px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 153.52272987365723%;
  margin-right: 0;
  margin-bottom: 0;
}
