.create-q-r-screen-container {
    min-height: 100vh;
  }
  .create-q-r-screen-create-q-r-screen {
    width: 100%;
    height: 1022px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1512px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    background-color: var(--dl-color-default-bgcolor);
  }
  .create-q-r-screen-main {
    top: 111px;
    left: 10px;
    width: 1163px;
    height: 811px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .create-q-r-screen-text {
    color: var(--dl-color-default-normaltext);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 153.52272987365723%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .create-q-r-screen-list {
    top: 35px;
    left: 140px;
    width: 883px;
    height: 776px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    background-color: var(--dl-color-default-secondary);
  }
  .create-q-r-screen-name {
    top: 45px;
    left: 67px;
    width: 505px;
    height: 74px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .create-q-r-screen-text02 {
    color: var(--dl-color-default-normaltext);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 153.52272987365723%;
  }
  .create-q-r-screen-input {
    top: 32px;
    left: 0px;
    color: rgba(208, 213, 221, 1);
    width: 505px;
    height: 42px;
    display: flex;
    overflow: hidden;
    position: absolute;
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Inter;
    font-weight: 400;
    border-color: rgba(208, 213, 221, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--dl-color-default-secondary);
  }
  .create-q-r-screen-small-secondary-button {
    top: 155px;
    left: 67px;
    width: 164px;
    height: 42px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(208, 213, 221, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 5px;
    margin-bottom: 0;
    background-color: var(--dl-color-default-primary);
  }
  .create-q-r-screen-text04 {
    top: 11px;
    left: 11.781608581542969px;
    color: var(--dl-color-default-secondary);
    width: 141px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: center;
    line-height: 153.52272987365723%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .create-q-r-screen-qr {
    top: 233px;
    left: 67px;
    width: 505px;
    height: 481px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .create-q-r-screen-apartmentphoto11 {
    top: 45px;
    left: 103px;
    width: 299px;
    height: 318px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
  }
  .create-q-r-screen-small-secondary-button1 {
    top: 398px;
    left: 171px;
    width: 164px;
    height: 42px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(208, 213, 221, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--dl-color-default-secondary);
  }
  .create-q-r-screen-text06 {
    top: 11px;
    left: 11.781608581542969px;
    color: var(--dl-color-default-primary);
    width: 141px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: center;
    line-height: 153.52272987365723%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .create-q-r-screen-floors {
    top: 45px;
    left: 609px;
    width: 238px;
    height: 74px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .create-q-r-screen-text08 {
    color: var(--dl-color-default-normaltext);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 153.52272987365723%;
  }
  .create-q-r-screen-small-input {
    top: 32px;
    left: 0px;
    width: 238px;
    height: 42px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(208, 213, 221, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--dl-color-default-secondary);
  }
  .create-q-r-screen-text10 {
    top: 11px;
    left: 17.41463279724121px;
    color: var(--dl-color-default-extratext);
    width: 204px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 153.52272987365723%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .create-q-r-screen-calendartoday {
    top: 6px;
    left: 208px;
    width: 25px;
    height: 25px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }
  